:host {
  display: block;
  min-height: 100dvh;
  padding: 20px 12px;
  background: #cf85ff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  text-align: center;
}

.main-menu-list {
  display: grid;
  grid-gap: 8px;
  list-style: none;
}

.menu-item {
  font-size: 30px;
  cursor: pointer;
  padding: 16px 12px;
  border: none;
  background: none;
  align-items: center;
  color: var(--light-color);
  width: 100%;
  text-align: left;

  &:hover,
  &:focus-visible {
    background: #161616;
    color: purple;
  }
}
