:host
{
  display: grid;
  grid-template-columns:1fr 1fr;
  height: 100dvh;
  align-items: center;
  margin: 0 5%
}
.password-input
{
  position: relative;
}
.pi-eye
{
  font-size: 20px;
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
.pi-eye-slash
{
  font-size: 20px;
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
.btn
{
  margin-top: 5px;
}

